<% if @user %>
<h1><%= @user['name'] %></h1>

<% if session[:user] && @user['id'].to_i == session[:user]['id'].to_i %>
 <p><%= link_to 'Удалить пользователя', user_path, method: :delete, data: {confirm: 'Удалить насовсем?'} %></p>
<% end %>
<% end %>


