
<h1><%= @user %></h1>
<h3><%= p session[:user] %></h3>
<% if session[:user] == @user  %>
 <p><%= link_to 'Редактировать', edit_user_path %> <%= link_to 'Удалить пользователя', user_path, method: :delete %></p>
<% end %>



